body{
  background-color: #010203;
}

header{
  display: flex;
  justify-content: center;
  height: 6rem;
}

header p{
  font-size: xx-large;
  font-weight: bold;
  color: white;
}

.wrap{
  display: flex;
  height: 40rem;
  flex-direction: column;
  justify-content: space-between;
}

footer{
  color:white;
  display: flex;
  justify-content: center;
  width: 100%;
}

footer p{
  font-size: 10pt;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
