
.titulo {
  padding-top: 50px;
  text-align: center;
  color: #ffff;
  font-family:'Courier New', Courier, monospace;
}

.p3{
  font-size: small;
  color: #ffff;
  text-align: center;
  position: relative;
  top: 500px;
}

